<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Wricks Designs</title>
    <link rel="stylesheet" href="placed.css">
    <!-- bootstarp cdn -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
        integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

        <link href="https://fonts.googleapis.com/css2?family=Days+One&family=Fondamento&family=Lilita+One&display=swap"
            rel="stylesheet">
            <!-- fontawesome -->
            <script src="https://kit.fontawesome.com/2cf437a4a5.js" crossorigin="anonymous"></script>
</head>
<body>  <nav class="navbar navbar-light ">
            <a class="navbar-brand" href="/">
                <i class="fas fa-arrow-circle-left"></i> WRICKS DESIGNS
            </a>
        </nav>
    <div class="container-lg"> 
      
        <h3><u>Order Placed</u></h3>
        <div class="row ">
            <div class="col-lg-6">
                <h4>Order Number :</h4>
            </div>
            <div class="col-lg-6 gt">
                <h4><%= name6 %></h4>
            </div>
            <div class="col-lg-6">
                <h4>First Name :</h4>
            </div>
            <div class="col-lg-6 gt">
                <h4><%= name %></h4>
            </div>
        
            <div class="col-lg-6">
                <h4>Last Name :</h4>
            </div>
            <div class="col-lg-6 gt">
                <h4><%= name1 %></h4>
            </div>
        
            <div class="col-lg-6">
                <h4>Company Name :</h4>
            </div>
            <div class="col-lg-6 gt">
                <h4><%= name2 %></h4>
            </div>
        
            <div class="col-lg-6">
                <h4>Work :</h4>
            </div>
            <div class="col-lg-6 gt">
                <h4><%= name3 %></h4>
            </div>
        
            <div class="col-lg-6">
                <h4>Due Date :</h4>
            </div>
            <div class="col-lg-6 gt">
                <h4><%=name4%></h4>
            </div>
        
            <div class="col-lg-6">
                <h4>Phone Number :</h4>
            </div>
            <div class="col-lg-6 gt">
                <h4><%=name5%></h4>
            </div>
        </div>
        <button type="submit" class="btn-kk">Print Out</button>
    </div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://unpkg.com/jspdf@latest/dist/jspdf.min.js"></script>
 <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
        integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
        crossorigin="anonymous"></script>
    <script src="hide.js"></script>
</body>
</html>